* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header{
    margin: 0;
    padding: 0;
}

.tdBorder{
    border:1px solid dodgerblue;
}

.counterDiv{
    background-color: blanchedalmond;
    padding: 15px;
    width:400px;
    height:200px;
    margin:auto;
    margin-bottom: 10px;

   }
#colorBox{
    width:100px;
    height: 100px;
    border:1px solid black;
    margin:auto;
}   

.breathingTimer{
    height: 250px;
}
.ToDoList{
    min-height: 250px;  
}