* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header{
    margin: 0;
    padding: 0;
}

.tdBorder{
    border:1px solid dodgerblue;
}

.counterDiv{
    background-color: blanchedalmond;
    padding: 15px;
    width:400px;
    height:200px;
    margin:auto;
    margin-bottom: 10px;

   }
#colorBox{
    width:100px;
    height: 100px;
    border:1px solid black;
    margin:auto;
}   

.breathingTimer{
    height: 250px;
}
.ToDoList{
    min-height: 250px;  
}

.slider{
    position: relative;
    width:500px;
    height:300px;
    overflow: hidden;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.slides{    
    transition: transform 0.5s  ease-in-out ;
    display: flex;
  }
.slide{
    min-width:100%;
    height:100%;
    object-fit: contain;    
}
.controls{
    position: absolute;
    top:50%;
    color: #ccc;
    width:100%;
    display:flex;
    transform:translateY(-50%);
    justify-content:space-between;
}

#recipieResult{
    height:400px ;
    border: 1px solid black;
    overflow-y: scroll;
}